table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

th, td {
  text-align: left;
  padding: 15px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
} */
.markDeliveredButton{
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
}

.markDeliveredButton:hover {
  background-color: #3e8e41;
}
.markNotDeliveredButton{
  background-color: #af4c4c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
}
.markNotDeliveredButton:hover {
  background-color: #ff0707;
}

